::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(#000, #4FC3F7);
	height: 10px;
	border-radius: 80px;
}
body{
	font-family: sans-serif;
	margin: 0px;
}
.nav{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	height: 50px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 1.2em;
	z-index: 1000;
}
a:hover{
	color: #aaa;
}
a{
	color: #fff;
	text-decoration: none;	
}
.nav ul li{
	display: inline;
}
img{
	border-radius: 10px;
}

.box{
	width: 50%;
	background: linear-gradient(to bottom left, rgba(0,0,0,0.3), rgba(0,0,0,0.9));
	margin-top: -80px;
	position: relative;
	color: #fff;
	border-radius: 4px;
}
table{
	width: 80%;
}
td{
	width: 50%;
}
.dt{
	width: 100%;
}
h2{
	text-align: center;
	letter-spacing: 20px;
}
.underline1{
	width: 90px;
	text-align: center;
}
h1{
	letter-spacing: 10px;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}

footer{
	width: 100%;
	padding: 30px 0px 30px 0px;
	background: #000;
}

.fhead1{
	color: #fff;
	letter-spacing: 10px;
}
.fnava{
	font-size: 13px;
}
footer table td{
	width: 30%;
	padding-right: 20px;
}

.srhr{
	width: 180px;
}
.nav{
	z-index: 2000;
}
